# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Virtual env
.venv/
venv/
ENV/
env/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

# Python tooling
.build/
dist/
.eggs/
*.egg-info/
